
// Common Style
.flex {
  display: flex;
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.noWrap{
    flex-wrap: nowrap;
  }
}
code.debug{
  background-color: lemonchiffon;
  font-size: 0.85rem;
  display: block;
  padding: 4px;
  margin: 12px auto;
}